.signUp-db-error {
    font-weight: bolder;
    font-size: 27px;
    color: #00bcd4;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.duplicat{
  font-size: 12px;
    color: green;
    font-weight: bolder;
    display: flex;
    margin: 40px;
}